astroalign==2.4
astropy==4.0.2
Image==1.5.33
imexam==0.9.1
matplotlib==3.3.2
numarray==1.5.1
numdisplay==0.1
numpy==1.19.2
Pillow==9.0.0
pycs==0.1.2
pyephem==9.99
pyfft==0.3.9
pyfits==3.5
PyPDF2==1.26.0
pyperclip==1.8.2
pyraf==2.2.0
PyWavelets==1.1.1
scikit_image==0.17.2
scikit_learn==1.0.2
scipy==1.5.2
skimage
