<html>
	<head>
		<title>%(pagetitle)s</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta http-equiv="Content-Style-Type" content="text/css">
		<link rel="stylesheet" type="text/css" media="screen" href="../indiv_page.css">
	</head>
	<body>
		
		<div class="setlinkline">
			%(setlinkline)s
		</div>
		
		<div align="left" class="summaryline" border=10>
			%(rightlinks)s %(summaryline)s %(leftlinks)s &nbsp;&nbsp;&nbsp;&nbsp; %(pagetitle)s
		</div>
		
		<div align="left" class="plotdiv">
			<!--<img src="overview.png" class="imgmargin"><img src="zoom.png" class="imgmargin">-->
			%(overviewplot)s%(zoomplot)s
		</div>
		<div align="left" class="plotdiv">
		
		<table>
			<tr><td valign="top">
			%(decskim)s
			</td><td valign="top">
			%(psfskim)s
			</td><td valign="top">
			<pre>%(description)s</pre>
			</td></tr>
		</table>
		

		</div>
		
	</body>
</html>
