

body {
	background-color: #CCCCCC;
	font-family: helvetica,Arial,Geneva,SunSans-Regular,sans-serif;
	font-size: 1.0em;
}

.summaryline {
	color:	#000000;
	font-size: 1.5em;
	font-weight: normal;
	margin: 5;
}

.setlinkline {
	background-color: #FFFFFF;
	font-size: 1.0em;
	font-weight: normal;
	margin: 5;
}

.plotdiv {
	margin: 5;
}

.imgmargin {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 10;
}


